<div class="container">
    <div class="row">
        <table class="table table-bordered table-hover ">
            <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Update </th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
          <tbody>
            <tr *ngFor="let product of products; let ind = index">
                
                <th scope="row">{{product.id}}</th>
                <td >{{product.productName}}</td>
                <td>{{product.productDescription}}</td>
                <td>{{product.productPrice}}</td>
                <td>{{product.productQuantity}}</td>
                <td><button class="btn btn-success"(click)="updateProduct(product.id)">Update</button></td>
                <td><button class="btn btn-danger" (click)="deleteProduct(product.id, ind)">Delete</button></td>

            </tr>
          </tbody>

           
        </table>
    </div>
</div>

<button type="button" class="btn btn-success" routerLink="/create-product">create products</button>
